<h1>Create an article</h1>

<%= fields_for @article do |field|  %>
  <p>
    <%= field.label :title %> </br>
    <%= field.text_field :title%>
  </p>

  <p>
    <%= field.label :description %></br>
    <%= field.text_area :description %>
  </p>

  <p>
    <%= field.submit %>
  </p>

<% end %>
